
<div class="page-width">
    <div style="padding-top:{{ section.settings.range-top-setting }}px;padding-bottom:{{ section.settings.range-bottom-setting }}px">
       
        <div style="text-align:center">
            <h2 class="font" style="font-size:{{ section.settings.select-setting }}">
                {{ section.settings.text-setting }}
            </h2>
          
        </div>

    
        <div class="blog-collection">

          {% for block in section.blocks %}

            {% if block.settings.image-picker-setting %}
              {{ block.settings.image-picker-setting | image_url: width: master | image_tag  }}
             {% else %} 
                <img src="{{ 'main-blog.jpg'  | image_url: width: master | image_tag  }}}" alt="Default Image">
             
            {% endif %}
            
           
            {{ block.settings.first-text-setting }}
            
          {% endfor %}
          
           
          
          
        </div>

      
    </div>
</div>

{% schema %}
{
    "name": "Blog",
    "class": "blog-cover",
    "settings": [
       
        {
            "type": "text",
            "id": "text-setting",
            "label": "Enter Text",
            "default": "Blog"
        },
        {
            "type": "range",
            "id": "range-top-setting",
            "min": 20,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Padding Top",
            "default": 20
        },
        {
            "type": "range",
            "id": "range-bottom-setting",
            "min": 20,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Padding-Bottom",
            "default": 20
        },
        {
            "type": "select",
            "id": "select-setting",
            "label": "Select Font Size",
            "options": [
                {
                    "value": "15px",
                    "label": "small"
                },
                {
                    "value": "25px",
                    "label": "medium"
                },
                {
                    "value": "35px",
                    "label": "large"
                },
                {
                    "value": "45px",
                    "label": "extra large"
                }
            ]
        }
    ],
    "blocks": [
            {
              "name":"Main Block",
              "type": "main_block",
              "settings": [

              {
                "type": "image_picker",
                "id": "image-picker-setting",
                "label": "Select Image"
                
              },

              {
                "type": "text",
                "id": "first-text-setting",
                "label": "First Tex"
              },
                  {
                "type": "text",
                "id": "main-text-setting",
                "label": "Main Tex"
              },
                {
                "type": "textarea",
                 "id": "textarea-setting",
                "label": "Contain Text",
                
              },
            
                ]
            },
             {
                "name":"Side Block",
                "type": "side_block",
                "settings": [

                      {
                        "type": "image_picker",
                        "id": "side-image-picker-setting",
                        "label": "Select Image"
                      },
        
                      {
                        "type": "text",
                        "id": "side-first-text-setting",
                        "label": "First Tex"
                      },
                        {
                      "type": "text",
                      "id": "side-main-text-setting",
                      "label": "Main Tex"
                    },
                      {
                      "type": "textarea",
                       "id": "side-textarea-setting",
                      "label": "Contain Text",
                      
                    },
                      ]},
                    ],
    "presets": [
      {
        "name": "Blog"
      }
        ]

        
}
{% endschema %}

