
<div class="page-width">
    <div style="padding-top:{{ section.settings.range-top-setting }}px;padding-bottom:{{ section.settings.range-bottom-setting }}px">
       
        <div style="text-align:center">
            <h2 class="font scroll-trigger animate--slide-in">
                {{ section.settings.text-setting }}
            </h2>
        </div>

       <div class="blog-section">
                 <div class="main-blog">  
                      {% for block in section.blocks %}
                          {% assign blog = blogs[block.settings.blog-setting] %}
                                {% if blog.title == 'Main Blog'%}
                                   {% for article in blog.articles limit:1 %}
                                      <a href="{{ article.url }}">
                                        
                                        {{ article.image | image_url: width: master | image_tag }}
                                        <strong>{{ article.updated_at | date: "%d %b %Y" }}</strong>
                                        <h2>{{ article.title }}</h2>
                                        <p>{{ article.content}}</p>
                                      </a>
                                      {% endfor %}
                                  
                                {% endif %}  
                      {% endfor %}
                </div>
             <div class="side-blog">
                 {% for block in section.blocks %}
                          {% assign blog = blogs[block.settings.blog-setting] %}
                               {% if blog.title == 'Side Blog' %}
                                     {% for article in blog.articles limit:3 %}
                                          <a href="{{ article.url }}">
                                            {{ article.image | image_url: width: master | image_tag }}
                                            <div class="side">
                                            <strong>{{ article.updated_at | date: "%d %b %Y" }}</strong>

                                              <h2>{{ article.title }}</h2>
                                            <p>{{ article.content}}</p> </div>
                                           
                                          </a>
                                    {% endfor %}
                            
                              {% endif %}  
                      {% endfor %}
             </div>

      </div>
  </div>

  
         

{% schema %}
{
    "name": "Blog",
    "class": "blog-cover",
    "settings": [

      
      
        {
            "type": "text",
            "id": "text-setting",
            "label": "Enter Text",
            "default": "Blog"
        },
        {
            "type": "range",
            "id": "range-top-setting",
            "min": 20,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Padding Top",
            "default": 20
        },
        {
            "type": "range",
            "id": "range-bottom-setting",
            "min": 20,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Padding-Bottom",
            "default": 20
        }
        
    ],
    "blocks": [
        { 
          "name":"custom block",
          "type": "custom-block",
          "settings": [
            { 
                "type":"blog",
                "id":"blog-setting",
                "label": "Select Blog"
              }
          ]
        }
    ],
   

    "presets": [
      {
        "name": "Blog"
      }
        ]

        
}
{% endschema %}

