<div class="page-width"> 
  <div style="padding-top:{{ section.settings.range-top-setting }}px;padding-bottom:{{ section.settings.range-bottom-setting }}px">

  <div class="products-cover"> 
  
    {% for product in section.settings.product_list-setting %}
    
        <div class="product"> 
          <a href="{{ product.url }}">
           {{ product.featured_image | image_url: width: master | image_tag }}
           <strong>{{ product.title }} </strong> 
           <p> {{ product.price | money }} </p>
      </a>
       </div>
    
    {% endfor %}
  

   </div>
  
   </div>
  


</div>




{% schema %}
  {
    "name": "Store Products",
     "class": "store-product-cover" ,
      "settings": [
          {
            "type": "range",
            "id": "range-top-setting",
            "min": 20,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Padding Top",
            "default": 20
        },
        {
            "type": "range",
            "id": "range-bottom-setting",
            "min": 20,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Padding-Bottom",
            "default": 20
        },
      {
          "type": "product_list",
          "id": "product_list-setting",
          "label": "Select Products"
        }
      ],
    
    "presets":[
      {
          "name" : "Store Products"
        }  
    ]
  }
{% endschema %}