{% stylesheet %}

{% endstylesheet %}

<div class="page-width">
    <div style="padding-top:{{ section.settings.range-top-setting }}px;padding-bottom:{{ section.settings.range-bottom-setting }}px">
        <div class="collection-title"> 
            <div style="width: 60%">
                <div style="display:flex;justify-content:space-between;align-items: center">
                    <h2 class="font" style="font-size:{{ section.settings.select-setting }}">
                        {{ section.settings.text-setting }}
                    </h2>
                  
                </div>
            </div>
        </div>

        <div class="testimonial-collection">
            {% if section.settings.collection-setting.products %}
                {% for product in section.settings.collection-setting.products %}
                    <div class="product">
                        <a href="{{ product.url }}">
                            {{ product.featured_image | image_url: width: master | image_tag  }}
                        </a> 
                        <strong>{{ product.title }}</strong>
                        <div>{{ product.price | money }}</div>
                    </div>
                {% endfor %}
            {% endif %} 
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Testimonials",
    "class": "testimonial-cover",
    "settings": [
       
        {
            "type": "text",
            "id": "text-setting",
            "label": "Enter Text",
            "default": "Collection"
        },
        {
            "type": "range",
            "id": "range-top-setting",
            "min": 20,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Padding Top",
            "default": 20
        },
        {
            "type": "range",
            "id": "range-bottom-setting",
            "min": 20,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Padding-Bottom",
            "default": 20
        },
        {
            "type": "select",
            "id": "select-setting",
            "label": "Select Font Size",
            "options": [
                {
                    "value": "15px",
                    "label": "small"
                },
                {
                    "value": "25px",
                    "label": "medium"
                },
                {
                    "value": "35px",
                    "label": "large"
                },
                {
                    "value": "45px",
                    "label": "extra large"
                }
            ]
        }
    ],
    "blocks": [
        {
          "name":"custom block",
          "type": "custom_black",
          "settings": [

              {
                "type": "textarea",
                 "id": "textarea-setting",
                "label": "Testimonial Text"
              },
              {
                "type": "text",
                "id": "name-text-setting",
                "label": "Name Enter"
              },
              {
                "type": "text",
                "id": "position-text-setting",
                "label": "Postion Text"
              }
            ]
        }
      ],
      

    "presets": [
        {
            "name": "Scroll Custom Collection"
        }
    ]
}
{% endschema %}

<script>
$(document).ready(function() {
    var $slider = $('.scroll-collections');
        $slider.slick({
        autoplay: true,
        dots: true,
        infinite: true,
        speed: 300,
        slidesToShow: 4,
        slidesToScroll: 4,
        responsive: [
            {
                breakpoint: 1024,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 3,
                    infinite: true,
                    dots: true
                }
            },
            {
                breakpoint: 600,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 2
                }
            },
            {
                breakpoint: 480,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                }
            }
        ]
    });

    $('.scroll-left').click(function() {
        $slider.slick('slickPrev');
    });

    $('.scroll-right').click(function() {
        $slider.slick('slickNext');
    });
});
</script>
